
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 200 100% 95.1%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 200 100% 75%;
    --primary-foreground: 215 28% 17%;
    --secondary: 200 50% 90%;
    --secondary-foreground: 215 28% 17%;
    --muted: 200 50% 93%;
    --muted-foreground: 215 20% 45.1%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 30% 88%;
    --input: 200 30% 90%;
    --ring: 200 100% 65%;
    --chart-1: 200 80% 60%;
    --chart-2: 120 60% 60%;
    --chart-3: 30 80% 65%;
    --chart-4: 280 70% 65%;
    --chart-5: 340 80% 60%;
    --radius: 0.5rem;
    --sidebar-background: 200 20% 99%;
    --sidebar-foreground: 215 28% 17%;
    --sidebar-primary: 200 100% 75%;
    --sidebar-primary-foreground: 215 28% 17%;
    --sidebar-accent: 200 50% 90%;
    --sidebar-accent-foreground: 215 28% 17%;
    --sidebar-border: 200 30% 88%;
    --sidebar-ring: 200 100% 65%;
  }
  .dark {
    --background: 210 20% 10%;
    --foreground: 200 100% 95.1%;
    --card: 210 20% 12%;
    --card-foreground: 200 100% 95.1%;
    --popover: 210 20% 10%;
    --popover-foreground: 200 100% 95.1%;
    --primary: 200 100% 75%;
    --primary-foreground: 215 28% 17%;
    --secondary: 210 20% 20%;
    --secondary-foreground: 200 100% 95.1%;
    --muted: 210 20% 20%;
    --muted-foreground: 200 20% 63.9%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 200 100% 75%;
    --chart-1: 200 80% 60%;
    --chart-2: 120 60% 60%;
    --chart-3: 30 80% 65%;
    --chart-4: 280 70% 65%;
    --chart-5: 340 80% 60%;
    --sidebar-background: 210 20% 10%;
    --sidebar-foreground: 200 100% 95.1%;
    --sidebar-primary: 200 100% 75%;
    --sidebar-primary-foreground: 215 28% 17%;
    --sidebar-accent: 210 20% 20%;
    --sidebar-accent-foreground: 200 100% 95.1%;
    --sidebar-border: 210 20% 25%;
    --sidebar-ring: 200 100% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
